body {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

ul {
    display: flex;
    margin: 0px;
}

li {
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
}

button {
    margin-top: 12px;
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    border-radius: 12px;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.top .text p {
    margin: 0px;
    font-size: 18px;
    color: #E5E7EB;
}

strong {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    line-height: 110%;
}

.logo {
    font-weight: 900;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #1F2937;
}

.top {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.text {
    width: 500px;
    padding: 12px;
}

.thisiswheretheimagewillgo {
    width: 500px;
    height: 300px;
    background-color: yellow;
}

.random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-info .header-text {
    font-weight: 700;
    font-size: 36px;
}

.smallimage {
    width: 200px;
    height: 200px;
    border-radius: 24px;
    background-color: darkslategray;
}

.images p {
    width: 200px;
    font-weight: 300;
}